@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');


.header {
  align-items: center;
  -webkit-animation: fadeInDown 1s ease forwards;
  animation: fadeInDown 1s ease forwards;
  background-color: #ff7800 !important;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  max-width: 100%;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header .logo {
  cursor: pointer;
  left: 5rem;
  padding: 0;
  position: fixed;
  top: 7px;
  z-index: 500;
}

.header .logo h1 {
  width: 85px;
  // height: 75px;
  background: white;
  // border-radius: 50%;
  font-family: 'Tilt Prism', cursive;
  color: #ff7800;
}